@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: 3px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse; /*테이블의 셀 사이 경계가 겹쳐서 나타나도록*/
  width: 100%;
}

/* 테이블 헤더, 셀 적용 */
td,
th {
  border: 1px solid #f2f2f2;
  text-align: left;
  padding: 8px;
}

/* 테이블의 짝수 번째 행 - 배경색 변경 */
tr:nth-child(even) {
  background-color: #f2f2f2;
}
